div {
    background-color: lightgrey;
    width: 700px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
   
}
p2 {
    background-color: lightgrey;
    width: 700px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
   
}
