div {
    background-color: lightgrey;
    width: 00px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
    align: center;
}
p2 {
    background-color: lightgrey;
    width: 00px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
    align: center;
    float: right;
}
